
<!-- Book View: Rendering Context = Book Controller Singleton -->
<!-- Note that the context {isbn: value} is passed in as "content" -->

<!-- shown beneath the fold -->
<div id="book">
	<h1>This is the Book view</h1>
	<p>This is a placeholder for a representation for a single book, identified by ISBN.</p>
	ISBN: {{content.isbn}}
</div>