<!-- Emperor View -->
<h1>This is the Emperor view</h1>
{{view "InputField" valueBinding="isbnInput" }} <!-- this searches the controller an InputField - see EmperorController -->
{{isbnInput}}

{{outlet}} <!-- A view within a view; everything else goes here -->