<!-- Emperor View: Rendering Context = Emperor Controller Singleton -->
<h1>This is the Emperor view</h1>

<!-- Target: Emperor Controller -->
{{view Ember.TextField placeholder="ISBN13" valueBinding="isbnInput" target=this action="openBookWithInputField" insertNewline=sendAction }} 

{{isbnInput}}

{{outlet}} <!-- A view within a view; everything else goes here -->