
<!-- List View: Rendering Context = List Controller Singleton -->
<!-- exposed variables: content (subclass of Book model), representedBook of book view  -->

<h1>This is a list!</h1>

{{representedBook.title}} 