
<!-- Start View: Rendering Context = Start Controller Singleton -->

<!-- shown beneath the fold -->
<div id="start">
	<h1>This is the Start view</h1>
	<p>This is a placeholder for a list of recent activity on BellBook that will go after the fold.</p>
	<p>More specifically, recently posted listings, and recently completed transactions</p>
	<p>(users can, of course, easily mark transactions as private, and no details will be shown)</p>

	{{#each this}}
		<!-- Now the context has been changed to each object in the start controller's content array -->
		<!-- which should be an Activity object. (instance of Activity model class) -->
	    <li>
	        <p>Type: {{type}}</p>
	        <p>Book Name: {{book.title}}</p>
	        {{#if book.imageLinkSmall}}
				<img src="{{unbound book.imageLinkSmall}}" />
			{{else}}
				<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" />
			{{/if}}
	    </li>
	{{/each}}
</div>